body {
  background-image: url(/img/bg.jpeg);
background-repeat: no-repeat;
}
.img {
  width: 300px;
  height: 250px;
  border: 8px solid black;
  border-top-color: blue;
  border-bottom-color: yellow;
margin: 20px 20px;
margin-left: 170px;
}
#midl-pic {
  margin: 50px 100px 50px 320px;
display: inline-block;

}
